/* リセットCSS */
body, h1, h2, h3, p, ul, li, nav, section, article {
    margin: 0;
    padding: 0;
    list-style: none;
    color:black;
}

body {
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family:YuGothic;
    line-height: 1.6;
}

/* レイアウト */
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
}

nav ul {
    display: flex;
    
}

nav ul li {
    margin-right: 4rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    font-family: Inter;
}

main {
    padding: 1rem;
}

#intro{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center; /* 中央揃え */
    justify-content: space-evenly;
}

.text h1{
    text-align: center;
    padding: 1rem; 
    font-size: 3rem;
    font-family: Inter;
    color: #000;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1px;
}

.img img {
    width: 24rem; /* 画像の幅を設定 */
    height: auto; /* 画像の高さを自動調整 */
    border-radius: 10px;
    flex-shrink: 0;
}

#profile{
    color: #828282;
    margin-left:18rem;
    margin-right:20rem;
    margin-top:10rem;
    margin-bottom:10rem;
    font-family: Inter;
}

#profile h3{
    padding: 1rem; 
    font-size: 1.5rem;
    color: #b2b2b2;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

#profile .text p{
    padding: 0.1rem; 
    font-size: 1rem;
    color: #b2b2b2;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.divider {
    border-top: 1px solid #e6e6e6; /* 灰色の薄い線 */
    margin-bottom: 2rem; /* フッターとの間隔 */
}
  

footer{
    margin-left: 4rem;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    color: black;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}


#projects, #blog, #contact{
    color: #000;
    margin: 5rem;
    font-family: Inter;
}

#projects h2,#projects p, #blog h2,#blog p, #contact{
    margin-left: 3rem;
}

#projects h2, #blog h2{
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
}

#projects p, #blog p{
    margin-top:2rem;
    margin-bottom: 5rem;
}

#projects .article, #blog .article{
    display: flex;
    flex-wrap: wrap;
}

#projects .article article{
    flex-basis: 50%; /* 2列レイアウト */
    text-align: center;
}

#blog .article article{
    flex-basis: 33.333%;
    text-align: center;
}

#projects .article article h3, #blog .article article h3{
    margin:1rem;
    font-size:1rem;
}

#projects .article article p, #blog .article article p{
    margin-left:0rem;
    font-size:1rem;
}

#projects .article article img{
    width: 35rem; /* 画像の幅を設定 */
    height: 20rem; /* 画像の高さを自動調整 */
    border-radius: 8px;
    flex-shrink: 0;
}

#projects .article a:hover, #blog .article a:hover{
    border: none;
    cursor: pointer;
}

#projects .article img:hover, #blog .article img:hover{
    transform: scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    transition: background-color 0.5s;
}

#blog .article article img{
    width: 20rem; /* 画像の幅を設定 */
    height: 20rem; /* 画像の高さを自動調整 */
    border-radius: 8px;
    flex-shrink: 0;
}

#contact h2{
    text-align:center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
}

#contact{
    margin-left: 10rem;
    margin-right: 10rem;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* フィールド間に均等なスペースを設定 */
}

.field {
    display: flex;
    flex-direction: row;
    align-items: center; /* ラベルと入力フィールドを縦方向の中央揃えに */

}

/* その他のスタイル */

#contact input[type="text"],
#contact input[type="email"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



#contact .message textarea {
    width: 100%; /* 幅をコンテナに合わせて調整 */
    height: 10rem; /* 高さを指定 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* ユーザーが縦方向にサイズ調整可能に */
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: .5rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #003d82;
}

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.fade-in.active {
    opacity: 1;
}
